<!DOCTYPE HTML>
<html>
<head>
    <title>授权页面</title>
    <script type="text/javascript" src="/static/plugins/taskbaby/jquery-1.7.2.js"></script>
</head>

<body>
<div  style=" width:50%;height:50%;margin:0px; "  >
    <input type="hidden" id="dataUrl" data-url="$!{url}">
    <button id="btn" style="font-size:3em; width: 38%;height: 5%;background-color: #0095cd;position:absolute;top:20%;margin-top:-button;padding-right:75px; text-align: center">第三方授权</button>
    <script>
        $("#btn").off("click");
        $("#btn").on("click",function () {
            console.log($("#dataUrl").attr("data-url").trim());
            if($("#dataUrl").attr("data-url").trim()){
                window.location.href = $("#dataUrl").attr("data-url").trim();
//                $.ajax({
//                    url:$("#dataUrl").attr("data-url").trim(),
//                    success:function (res) {
//                        console.log(res);
//                    }
//                })
            }

        })
    </script>
</div>
</body>
</html>